<ion-content padding class="guide-modal">

    <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
    <div>
      <p>{{msg}}</p>
      <ion-row>
          <ion-col col-3>
              <button ion-button small (tap)="yes()">{{ "Yes" | translate }}</button>
          </ion-col>
          <ion-col col-3>
                <button ion-button small (tap)="no()">{{ "NO" | translate }}</button>
          </ion-col>
      </ion-row>
    </div>
</ion-content>
