<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Payment Method" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>

  <div style="padding: 0% 10% 0% 10%;">

    <h4 style="font-size: 1.8rem;letter-spacing: 2px;color: #777575;">{{ "Paytm" | translate }}</h4>
    <ion-item style="padding-left: 0px;">
      <ion-input [disabled]='inputform' [(ngModel)]="paytmnumber" type="number" placeholder="Mobile Number*"></ion-input>
    </ion-item>
    <p style="color:grey">{{ "Linking wallet is one time process. Next time, checkout will be a breeze!" | translate }}</p>
  </div>
  <button [disabled]='inputform' ion-button full color="gpsc" style="height: 35px;width: 45%;margin-left: 30%;font-size: 15px;color: white;margin-top: 15px;color: rgb(255, 255, 255);"
    (click)="paytmwallet()">{{ "Continue" | translate }}</button>
  <ion-row style="padding: 2% 10% 0% 10%;" *ngIf="successresponse">
    <h4 style="font-size: 1.8rem;letter-spacing: 2px;color: #777575;">{{ "Enter verification code" | translate }}</h4>
    <p style="margin-top: 0px;color: grey;margin-bottom: 0;">{{ "Paytm has send verification code on" | translate }} {{paytmnumber}} {{ "via sms Please enter it below, and you are done!" | translate }}</p>
    <ion-item style="padding: 0px;">
      <ion-input [(ngModel)]="paytmotp" type="number" placeholder="Enter OTP"></ion-input>
    </ion-item>
    <ion-col col-sm-6>
      <button ion-button full style="height: 35px;background: rgb(220, 220, 220);font-size: 15px;transition: none 0s ease 0s;margin-top: 15px;color: #4a4747;"
        (click)="resndOTP()">{{ "Resend" | translate }}</button>
    </ion-col>
    <ion-col col-sm-6>
      <button ion-button full [disabled]="paytmotp == undefined" style="height: 35px;background: rgb(220, 220, 220);font-size: 15px;transition: none 0s ease 0s;margin-top: 15px;color: #4a4747;"
        (click)="paytmAuthantication()">{{ "Proceed" | translate }}</button>
    </ion-col>
  </ion-row>
</ion-content>
