<ion-header>
  <ion-navbar>
    <button *ngIf="showMenuBtn" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start *ngIf="shwBckBtn">
      <button ion-button small (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>{{ "Back" | translate }}
      </button>
    </ion-buttons>
    <ion-title
      >{{ "LIVE TRACKING" | translate }}
      <span *ngIf="titleText">{{ "For" | translate }} {{ titleText }}</span>
    </ion-title>
    <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ngOnInit()">
        {{ "All Vehicles" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #f2f1f0">
  <ion-item *ngIf="!titleText">
    <ion-label>{{ SelectVehicle }}</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedVehicle"
      [items]="portstemp"
      itemValueField="Device_Name"
      itemTextField="Device_Name"
      [canSearch]="true"
      (onChange)="temp(selectedVehicle)"
    >
    </select-searchable>
  </ion-item>
  <div id="map_canvas">
    <ion-row *ngIf="selectedVehicle != undefined">
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button
              style="margin: 0 2px;"
              ion-fab
              mini
              (click)="onClickMap('HYBRID')"
              color="gpsc"
            >
              S
            </button>
            <button
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              mini
              (click)="onClickMap('TERRAIN')"
              color="gpsc"
            >
              T
            </button>
            <button
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              mini
              (click)="onClickMap('NORMAL')"
              color="gpsc"
            >
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>
        <p
          class="blink"
          style="text-align: center;font-size:24px;color:cornflowerblue;font-weight: 600;"
          *ngIf="!vehicle_speed"
        >
          0
          <span style="font-size:16px;">{{ "Km/hr" | translate }}</span>
        </p>
        <p
          class="blink"
          style="text-align: center;font-size:24px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60"
        >
          {{ vehicle_speed }}
          <span style="font-size:16px;">{{ "Km/hr" | translate }}</span>
        </p>
        <p
          class="blink"
          style="text-align: center;font-size:24px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60"
        >
          {{ vehicle_speed }}
          <span style="font-size:16px;">{{ "Km/hr" | translate }}</span>
        </p>
      </ion-col>
      <ion-col>
        <ion-fab top right>
          <button ion-fab color="gpsc" mini>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button
              color="gpsc"
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              (click)="shareLive($event)"
            >
              <ion-icon name="share"></ion-icon>
            </button>
            <button
              color="gpsc"
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              (click)="onSelectMapOption('mapTrail')"
            >
              <ion-icon name="eye"></ion-icon>
            </button>
            <button
              color="gpsc"
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              (click)="onSelectMapOption('mapHideTraffic')"
            >
              <ion-icon name="walk"></ion-icon>
            </button>
            <button
              color="gpsc"
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              (click)="settings()"
            >
              <ion-icon name="cog"></ion-icon>
            </button>
            <button
              color="gpsc"
              style="margin: 1px 0px 1px 0px;"
              ion-fab
              (click)="addPOI()"
            >
              <ion-icon name="flag"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-fab right style="margin-top:59%" *ngIf="selectedVehicle != undefined">
      <button ion-fab color="gpsc" mini (click)="reCenterMe()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:72%" *ngIf="selectedVehicle != undefined">
      <button color="gpsc" ion-fab (click)="zoomin()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right style="margin-top:85%" *ngIf="selectedVehicle != undefined">
      <button color="gpsc" ion-fab (click)="zoomout()" mini>
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab left style="margin-top:85%" *ngIf="selectedVehicle != undefined">
      <button ion-fab color="gpsc" mini (click)="refreshMe()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab top left *ngIf="selectedVehicle == undefined">
      <button ion-fab color="light" mini>
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab top right *ngIf="selectedVehicle == undefined">
      <button
        ion-fab
        mini
        (click)="onSelectMapOption('mapHideTraffic')"
        color="{{ mapHideTraffic ? 'light' : 'gpsc' }}"
      >
        <ion-icon
          name="walk"
          color="{{ mapHideTraffic ? 'dark-grey' : 'black' }}"
        ></ion-icon>
      </button>
    </ion-fab>
    <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 15%"
      *ngIf="selectedVehicle == undefined"
    >
      <button
        ion-fab
        mini
        (click)="onSelectMapOption('showGeofence')"
        color="gpsc"
      >
        <img src="assets/imgs/geo.png" />
      </button>
    </ion-fab>
    <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 28%"
      *ngIf="selectedVehicle == undefined"
    >
      <button ion-fab mini (click)="getPOIs()" color="gpsc">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
    <!-- <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 73%"
      *ngIf="selectedVehicle != undefined"
    >
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab
      style="right: calc(10px + env(safe-area-inset-right)); margin-top: 85%"
      *ngIf="selectedVehicle != undefined"
    >
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab> -->

    <!-- <ion-fab top right *ngIf="selectedVehicle != undefined">
      <button ion-fab mini color="light">
        <ion-icon name="arrow-dropdown-circle" color="gpsc"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button
          ion-fab
          (click)="onSelectMapOption('mapHideTraffic')"
          color="{{ mapHideTraffic ? 'light' : 'gpsc' }}"
        >
          <ion-icon
            name="walk"
            color="{{ mapHideTraffic ? 'dark-grey' : 'black' }}"
          ></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab> -->
  </div>
</ion-content>
<div *ngIf="onClickShow" class="divPlan">
  <ion-bottom-drawer
    [(state)]="drawerState"
    [dockedHeight]="dockedHeight"
    [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop"
    [minimumHeight]="minimumHeight"
    (click)="setDocHeight()"
  >
    <div class="drawer-content">
      <p
        padding-left
        style="font-size: 13px; padding-bottom: 3px; color:cornflowerblue;"
      >
        {{ "Last Updated On" | translate }} &mdash;
        {{ last_ping_on | date: "medium" }}
      </p>
      <!-- <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{ address }}</p> -->
      <hr />
      <ion-row>
        <ion-col width-10 style="text-align:center">
          <img
            src="assets/imgs/statusIcons/ign_red.png"
            *ngIf="last_ACC == '0'"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/ign_green.png"
            *ngIf="last_ACC == '1'"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/ign_idle.png"
            *ngIf="last_ACC == null"
            width="20"
            height="20"
          />
          <p>{{ "IGN" | translate }}</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img
            src="assets/imgs/statusIcons/ac_na.png"
            *ngIf="acModel == null"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/ac_present.png"
            *ngIf="acModel == '1'"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/ac_empty.png"
            *ngIf="acModel == '0'"
            width="20"
            height="20"
          />
          <p>{{ "AC" | translate }}</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img
            src="assets/imgs/statusIcons/fuel_available.png"
            *ngIf="currentFuel != null"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/fuel_empty.png"
            *ngIf="currentFuel == null"
            width="20"
            height="20"
          />
          <p>{{ "FUEL" | translate }}</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img
            src="assets/imgs/statusIcons/power_na.png"
            *ngIf="power == null"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/pwer_disconnected.png"
            *ngIf="power == '0'"
            width="20"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/power_connected.png"
            *ngIf="power == '1'"
            width="20"
            height="20"
          />
          <p>{{ "POWER" | translate }}</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img
            src="assets/imgs/statusIcons/gps_na.png"
            *ngIf="gpsTracking == null"
            width="30"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/gps_notPresent.png"
            *ngIf="gpsTracking == '0'"
            width="30"
            height="20"
          />
          <img
            src="assets/imgs/statusIcons/gps_present.png"
            *ngIf="gpsTracking == '1'"
            width="30"
            height="20"
          />
          <p>{{ "GPS" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!total_odo">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="total_odo">
            {{ total_odo | number: "1.0-2" }}
          </p>
          <p style="font-size: 13px">{{ "Odometer" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!vehicle_speed">
            0{{ "km/h" | translate }}
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="vehicle_speed">
            {{ vehicle_speed }}{{ "km/h" | translate }}
          </p>
          <p style="font-size: 13px">
            {{ "Speed" | translate }}
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="fuel">
            {{ fuel }}
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">{{ "Fuel" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p
            style="font-size: 14px; font-weight: bold"
            *ngIf="!distFromLastStop"
          >
            0{{ "Kms" | translate }}
          </p>
          <p
            style="font-size: 14px; font-weight: bold"
            *ngIf="distFromLastStop"
          >
            {{ distFromLastStop | number: "1.0-2" }}{{ "Kms" | translate }}
          </p>
          <p style="font-size: 13px">{{ "From Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img
            src="assets/imgs/milestone-png-1.png"
            width="30"
            height="35"
            style="margin-top: 9%"
          />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!todays_odo">
            0{{ "Kms" | translate }}
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="todays_odo">
            {{ todays_odo | number: "1.0-2" }}{{ "Kms" | translate }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!timeAtLastStop">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="timeAtLastStop">
            {{ timeAtLastStop }}
          </p>
          <p style="font-size: 13px">{{ "At Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img
            src="assets/imgs/parkinglogo.png"
            width="30"
            height="30"
            style="margin-top: 9%"
          />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!today_stopped">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="today_stopped">
            {{ today_stopped }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!lastStoppedAt">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="lastStoppedAt">
            {{ lastStoppedAt }}
          </p>
          <p style="font-size: 13px">{{ "From Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img
            src="assets/imgs/2530791.png"
            width="30"
            height="35"
            style="margin-top: 9%"
          />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!today_running">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="today_running">
            {{ today_running }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
